<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>
      <div class="left">
        {{ card.name }}
      </div>
      <div class="middle"></div>
      <div class="right">
        {{ card.mana }}
      </div>
    </mat-card-title>
    <mat-card-subtitle>Creature</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="card-image"
    md-card-image
    src="{{ card.imageUrl }}"
  />
  <mat-card-content class="card-content">
    <p>{{ card.text }}</p>
  </mat-card-content>
  <mat-card-footer class="card-footer">
    <ul>
      <div class="left">
        {{ card.attack }}
      </div>
      <div class="middle"></div>
      <div *ngIf="card.type === 'creature'" class="right">
        {{ card.defense }}
      </div>
    </ul>
  </mat-card-footer>
</mat-card>
