<md-card class="card">
    <md-card-header class="card-header">
        {{card.name}}
    </md-card-header>
    <img class="card-image" md-card-image src="{{card.imageUrl}}">
    <md-card-content class="card-content">
        {{card.text}}
    </md-card-content>
    <md-card-footer class="card-footer">
        <ul>
            <div class="left">
                {{card.attack}}
            </div>
            <div class="middle"></div>
            <div class="right">
                {{card.defense}}
            </div>
        </ul>
    </md-card-footer>
</md-card>