<mat-card class="card">
    <mat-card-header class="card-header">
        {{card.name}}
    </mat-card-header>
    <img class="card-image" md-card-image src="{{card.imageUrl}}">
    <mat-card-content class="card-content">
        {{card.text}}
    </mat-card-content>
    <mat-card-footer class="card-footer">
        <ul>
            <div class="left">
                {{card.attack}}
            </div>
            <div class="middle"></div>
            <div class="right">
                {{card.defense}}
            </div>
        </ul>
    </mat-card-footer>
</mat-card>